[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.tmp
*.bak
*.swp
*.dbmdl
*.jfm
TestResult*/
*.coverage
*.ncrunch*
_ReSharper*/
*.DotSettings.user
packages/
*.nuget/
project.lock.json
publish/
*.publish.xml
*.deploy*
